Unicamp - MO826 - Ciência e Visualização de Dados em Saúde

Felipe Marinho Tavares

RA: 265680

Laboratório #1

---

Segunda parte do laboratório 1 usando linguagem python e ferramenta pandas.

In [1]:
import pandas as pd

### Lendo o arquivo `ebmocsna.csv`

In [2]:
data = pd.read_csv("ebmocsna.csv")
data

    x1  x2  x3  x4     y1    y2     y3     y4
0   10  10  10   8   8.04  9.14   7.46   6.58
1    8   8   8   8   6.95  8.14   6.77   5.76
2   13  13  13   8   7.58  8.74  12.74   7.71
3    9   9   9   8   8.81  8.77   7.11   8.84
4   11  11  11   8   8.33  9.26   7.81   8.47
5   14  14  14   8   9.96  8.10   8.84   7.04
6    6   6   6   8   7.24  6.13   6.08   5.25
7    4   4   4  19   4.26  3.10   5.39  12.50
8   12  12  12   8  10.84  9.13   8.15   5.56
9    7   7   7   8   4.82  7.26   6.42   7.91
10   5   5   5   8   5.68  4.74   5.73   6.89

### Calculando a média de `x1-3`, `x4`, `y1`, `y2`, `y3`, e `y4`.

(Usando como referência: https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html)

In [3]:
print(f"mean(x1-3): {data['x1'].mean()}")
print(f"mean(x4): {data['x4'].mean()}")
print(f"mean(y1): {data['y1'].mean()}")
print(f"mean(y2): {data['y2'].mean()}")
print(f"mean(y3): {data['y3'].mean()}")
print(f"mean(y4): {data['y4'].mean()}")

mean(x1-3): 9.0
mean(x4): 9.0
mean(y1): 7.500909090909093
mean(y2): 7.50090909090909
mean(y3): 7.5
mean(y4): 7.500909090909091

### Calculando as correlações `x1y1`, `x2y2`, `x3y3`, e `x4y4`.

(Usando como referência: https://stackoverflow.com/questions/42579908/use-corr-to-get-the-correlation-between-two-columns)

In [4]:
print(f"corr(x1y1): {data['x1'].corr(data['y1'])}")
print(f"corr(x2y2): {data['x2'].corr(data['y2'])}")
print(f"corr(x3y3): {data['x3'].corr(data['y3'])}")
print(f"corr(x4y4): {data['x4'].corr(data['y4'])}")

corr(x1y1): 0.81642051634484
corr(x2y2): 0.8162365060002428
corr(x3y3): 0.8162867394895984
corr(x4y4): 0.8165214368885028

É possível dizer que os valores ficaram próximos com os obtidos na etapa 1 mas calculados com menos precisão:

```text
corr(x1y1): 0.816
corr(x2y2): 0.816
corr(x3y3): 0.816
corr(x4y4): 0.817
```

Com os resultados obtidos parecidos dos dois métodos, é possível dizer ser esperado que os quatro conjuntos de dados correspondem ao mesmo fenômeno por possuírem valores positivos próximos de 1.

Como reflexão dos dois métodos, o uso de biblioteca "pandas" simplifica e facilita muito o acesso e prática desse tipo analise estatística. Para comparação, durante a primeira etapa calculei primeiro todas as médias, depois o númerador e denominador da equação de correlação, um processo demorado e que na primeira vez que executei zerou os resultados. Revisando ainda na etapa 1 encontrei meu erro na ordem das operações para obter a correlação, mas é um processo que demanda atenção pela manipulação dos vários dados e que é propício ao erro. Na segunda etapa com auxílio da biblioteca Python e ambiente Google Colab é bem difícil haver espaço para erro, uma vez que os métodos já estão implementados.